header {

  padding-top: 175px;
  height: 500px;

  h1, h2 {
    text-align: center;
  }

  h1 {
    font-size: 4em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 300;
  }
}
