@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

footer {

  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $gray-darker;

  h4 {
    font-weight: 700;
  }

  h5 {

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h5, h6 {
    font-weight: 300;
  }

  h4, h5, h6 {
    text-align: center;
    color: white;
    line-height: 150%;
  }

  p, a {
    text-align: center;
    color: $brand-primary;
    margin-top: 50px;
  }
}
