<footer class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Maarten Paauw</h4>
      <h5>{{ student_year }}<sup>e</sup> jaars student aan <a href="http://www.hsleiden.nl/">Hogeschool Leiden</a></h5>
      <h6>{{ current_year }} - {{ school_year }}</h6>
      <p>
        <a href="mailto:s1094220@student.hsleiden.nl?subject=Hallo%20Maarten!">
          <span class="fa fa-comment" data-placement="top" ngbTooltip="Zeg hallo!"></span>
        </a>
      </p>
    </div>
  </div>
</footer>
