@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

#opdracht-photo {
  padding-top: 75px;
  padding-bottom: 75px;
  background: no-repeat center center $gray-dark;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  img {
    -webkit-filter: drop-shadow(0 0 25px $gray-base);
    filter:         drop-shadow(0 0 25px $gray-base);
  }
}

#description {

  margin-top: 75px;
  margin-bottom: 75px;

  h2 {
    color: $brand-primary;
    margin-bottom: 25px;
  }

  p {
    line-height: 225%;
  }

  .btn {
    margin-top: 50px;
  }

  .btn:not(:first-of-type), .btn-group {
    margin-left: 10px;
  }
}
