<app-header [text]="[opdracht?.name, opdracht?.quote]"></app-header>
<app-breadcrumb [opdracht]="opdracht"></app-breadcrumb>

<section id="opdracht-photo" class="container-fluid" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(' + (opdracht?.images.length > 1 ? opdracht?.images[0] : opdracht?.images) + ')'}">
  <div class="row">
    <div [ngClass]="imageClasses">

      <img *ngIf="opdracht?.id != 4" class="img-responsive img-rounded" [src]="opdracht?.images" alt="Opdracht {{ opdracht?.id }} - {{ opdracht?.name }}" />

      <div *ngIf="opdracht?.id == 4" id="opdracht_{{ opdracht?.id }}_slider_detail" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li *ngFor="let slide of opdracht?.images; let index = index; let first = first;" attr.target="#opdracht_{{ opdracht?.id }}_slider_detail" attr.slide-to="{{index}}" [ngClass]="{'active': first}"></li>
        </ol>
        <div class="carousel-inner img-rounded" role="listbox">
          <div *ngFor="let slide of opdracht?.images; let index = index; let first = first;" class="item img-rounded" [ngClass]="{'active': first}">
            <img class="img-rounded" [src]="slide" alt="Opdracht {{ opdracht?.id }} - {{ opdracht?.name }}">
          </div>
        </div>
        <a class="left carousel-control" attr.href="#opdracht_{{ opdracht?.id }}_slider_detail" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Vorige</span>
        </a>
        <a class="right carousel-control" attr.href="#opdracht_{{ opdracht?.id }}_slider_detail" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Volgende</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="description" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">

      <h2 [innerText]="'Opdracht ' + opdracht?.id"></h2>

      <p *ngFor="let excerpt of opdracht?.excerpt" [innerText]="excerpt"></p>

      <a href="{{ opdracht?.essay }}" target="_blank" class="btn btn-primary">
        essay
      </a>

      <div *ngIf="opdracht?.id != 4" class="btn-group">

        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          2-peer review <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <li>
            <a href="{{ opdracht?.peer_review.inkomend }}" target="_blank" >inkomend</a>
          </li>
          <li>
            <a href="{{ opdracht?.peer_review.uitgaand }}" target="_blank" >uitgaand</a>
          </li>
        </ul>

      </div>

      <a href="{{ opdracht?.opdracht }}" target="_blank" class="btn btn-primary">
        opdracht
      </a>
    </div>
  </div>
</section>

<app-footer></app-footer>
