<section id="opdracht_{{ opdracht?.id }}" class="opdracht" [ngClass]="{ even: opdracht?.is_even, odd: !opdracht?.is_even }">
  <div class="container">
    <div class="row">

      <!-- TODO telefoon centreren -->
      <div *ngIf="opdracht?.images.length != 6" [ngClass]="{'col-md-3': (opdracht?.id == 2), 'col-md-6': (opdracht?.id != 2), 'col-md-push-9': (opdracht?.id == 2), 'col-sm-4': (opdracht?.id == 2), 'col-sm-offset-4': (opdracht?.id == 2) }" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-offset-0" >
        <img class="img-responsive img-rounded" [src]="opdracht?.images" alt="Opdracht {{ opdracht?.id }} - {{ opdracht?.name }}">
      </div>

      <!-- TODO slider responsive maken -->
      <div *ngIf="opdracht?.images.length == 6" class="col-xs-6 col-xs-push-6">
        <div id="opdracht_{{ opdracht?.id }}_slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li *ngFor="let slide of opdracht?.images; let index = index; let first = first;" attr.target="#opdracht_{{ opdracht?.id }}_slider" attr.slide-to="{{index}}" [ngClass]="{'active': first}"></li>
          </ol>
          <div class="carousel-inner img-rounded" role="listbox">
            <div *ngFor="let slide of opdracht?.images; let index = index; let first = first;" class="item img-rounded" [ngClass]="{'active': first}">
              <img class="img-rounded" [src]="slide" alt="Opdracht {{ opdracht?.id }} - {{ opdracht?.name }}">
            </div>
          </div>
          <a class="left carousel-control" attr.href="#opdracht_{{ opdracht?.id }}_slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Vorige</span>
          </a>
          <a class="right carousel-control" attr.href="#opdracht_{{ opdracht?.id }}_slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Volgende</span>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-1 text-xs-center margin-top-sm-40"  [ngClass]="{'col-md-8': (opdracht?.id == 2), 'col-md-5': (opdracht?.id != 2), 'col-md-pull-4': (opdracht?.id == 2), 'col-md-pull-7': (opdracht?.id == 4)}">
        <h3><a routerLink="opdracht/{{ opdracht?.id }}" [innerText]="opdracht?.name"></a></h3>
        <p *ngFor="let summary of opdracht?.summary" [innerText]="summary">
        </p>
        <a class="btn btn-primary" routerLink="opdracht/{{ opdracht?.id }}">lees meer</a>
      </div>

    </div>
  </div>
</section>
