/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {

  .text-xs-center {
    text-align: center;
  }
}

@media (max-width: 991px) {

  .margin-top-sm-40 {
    margin-top:40px;
  }
}
